extends layout

block content
  a.home-button(href='/').italianno-regular Downtown Donuts
  h2 About Us
  .divider
  p You can find us on social media!
  p.about-links
    a(href='https://www.instagram.com/', target='_blank') Instagram
    a(href='https://www.facebook.com/', target='_blank') Facebook
    a(href='https://www.tiktok.com/', target='_blank') TikTok