extends layout

block content
  a.home-button(href='/').italianno-regular Downtown Donuts
  h2 Please share your feedback with us!
  form(method='POST' action='/comments/create')
    input(type='text', name='task', id='task', maxlength='100', required)
    button.post-comment(type='submit') Post
  .divider
  ol
  //I used the code from the template which is why it still says todos. If I had given myself more time I would have updated this!
  each val in todos
    li
      span.posted-comments= val.task
      form(method='POST' action='/comments/delete')
        input(type='hidden', name='id', value=val.id)
        button.delete-comment(type='submit') Delete
