extends layout

block content
  img(src='/images/logo_dark_background.png' alt='Downtown Donuts Logo' class='home-logo')
  .divider
  nav.nav-links
    a(href='/menu') Menu
    a(href='/about') About Us
    a(href='/comments') Comments
