extends layout

block content
  a.home-button(href='/').italianno-regular Downtown Donuts
  // Citations for Canva free template usage:
  // https://www.canva.com/s/templates?query=donut-menu+free
  // https://www.canva.com/design/DAG6lFDDZ-w/XfD5oeTvKXdZQkp-uYCZyQ/edit?ui=eyJEIjp7IlEiOnsiQSI6dHJ1ZX19LCJBIjp7fX0 
  img(src='/images/sample_menu.png' alt='Downtown Donuts Sample Menu' class='menu')
  p.menu-links
    a(href='https://www.doordash.com/', target='_blank') DoorDash
    a(href='https://www.ubereats.com/', target='_blank') UberEats
