body {
  font-family: 'Montserrat', sans-serif;
  background-color: #10291D;
  align-items: center;
  justify-items: center;
  margin: 20px;
}

.home-button {
  text-decoration: none;
  border: solid #F7C64A;
  border-radius: 20px;
  padding: 10px;
  justify-self: left;
  font-family: inherit;
  font-size: 30px;
  color: #F7F7F7;
}

.home-button:hover {
  color: #F7C64A;
}

.menu {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
}

.menu-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.menu-links a {
  font: inherit;
  color: #F7F7F7;
  text-decoration: none;
  padding: 15px;
  border: 3px solid #F7C64A;
  border-radius: 12px;
}

.menu-links a:hover {
  color: #F7C64A;
}

h2 {
  font-family: inherit;
  font-size: 18px;
  color: #F7F7F7;
}

p {
  font-family: inherit;
  font-size: 14px;
  color: #F7F7F7;
}

.divider {
  width: 50%;
  height: 3px;
  background-color: #F7C64A;
  margin-bottom: 50px;
}

.home-logo {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.menu-logo {
  width: 50%;
  display: block;
  align-self: left;
  margin: 20px auto;
}

/*Citations for fonts:
Italianno: https://fonts.google.com/specimen/Italianno 
Montserrat: https://fonts.google.com/specimen/Montserrat 
*/

.italianno-regular {
  font-family: 'Italianno', cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  font: inherit;
  color: #F7F7F7;
  text-decoration: none;
  padding: 25px;
  border: 3px solid #F7C64A;
  border-radius: 12px;
}

.nav-links a:hover {
  color: #F7C64A;
}

.about-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.about-links a {
  font: inherit;
  color: #F7F7F7;
  text-decoration: none;
  padding: 25px;
  border: 3px solid #F7C64A;
  border-radius: 12px;
}

.about-links a:hover {
  color: #F7C64A;
}
