body {
  background-color: #F7F7F7;
  padding: 20px;
  align-items: center;
  justify-items: center;
  margin: auto;
}

header {
  background-color: #10291D;
}

/*Citations for fonts:
Italianno: https://fonts.google.com/specimen/Italianno 
Montserrat: https://fonts.google.com/specimen/Montserrat 
*/

.brand {
  font-family: 'Italianno', cursive;
  font-size: 100px;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 25px;
  border: 3px solid black;
  border-radius: 12px;
  transition: 0.2s;
}

.nav-links a:hover {
  background-color: #10291D;
  color: #F7C64A;
}
