body {
  font-family: 'Montserrat', sans-serif;
  background-color: #10291D;
  padding: 20px;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.divider {
  width: 50%;
  height: 3px;
  background-color: #F7C64A;
  margin-bottom: 50px;
}

.home-logo {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

/*Citations for fonts:
Italianno: https://fonts.google.com/specimen/Italianno 
Montserrat: https://fonts.google.com/specimen/Montserrat 
*/

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  font: inherit;
  color: #F7F7F7;
  text-decoration: none;
  padding: 25px;
  border: 3px solid #F7C64A;
  border-radius: 12px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #F7C64A;
}
